<div class="modal-header">
    <h4 class="card-title modalTitle">Add Company</h4>
    <div class="action-icons">
        <span class="material-icons"  mat-dialog-close matTooltip="close">close</span>
    </div>
    <!--    <button type="button" class="btn-close" aria-label="Close"></button>-->
</div>
<div class="modal-body">
    <form [formGroup]="companyForm">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Title" type="text" required formControlName="title">
                </mat-form-field>
                <mat-error *ngIf="!companyForm.get('title').valid && companyForm.get('title').touched">
                    <mat-error *ngIf="companyForm.get('title').hasError('required')">
                        Title is required
                    </mat-error>
                </mat-error>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Sub Title" formControlName="subTitle" type="text" required>
                </mat-form-field>
                <mat-error *ngIf="!companyForm.get('subTitle').valid && companyForm.get('subTitle').touched">
                    <mat-error *ngIf="companyForm.get('subTitle').hasError('required')">
                        Sub title is required
                    </mat-error>
                </mat-error>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" formControlName="para" type="text" required>
                </mat-form-field>
                <mat-error *ngIf="!companyForm.get('para').valid && companyForm.get('para').touched">
                    <mat-error *ngIf="companyForm.get('para').hasError('required')">
                        Description is required
                    </mat-error>
                </mat-error>

            </div>
        </div>


    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" mat-dialog-close>
        Cancel
    </button>
    <button  type="button" class="btn btn-primary" (click)="submitForm()">Create</button>
</div>
