<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6" style="margin-top: 100px">
                <div class="d-flex float-left w-100">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Login</h4>
                        <p class="card-category">Enter your Credentials</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="username" placeholder="User Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="password" placeholder="Password" type="Password">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="verifyForm()">Login</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
