<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Company Search</h4>
                        <p class="card-category">Search a company</p>
                    </div>
                    <div class="card-body">


                        <form class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Search Company</mat-label>
                                <input type="text"
                                       placeholder="Select a company"
                                       aria-label="Number"
                                       matInput
                                       [formControl]="myControl"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

