<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Company List</h4>
                        <p class="card-category"> Here is the list of Companies</p>
                        <button mat-raised-button style="margin-top: -40px" type="submit" (click)="companyAdd()" class="btn btn-primary float-right">Add Company</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Title
                                </th>
                                <th>
                                    Sub Title
                                </th>
                                <th>
                                    Params
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let company of companyLists">
                                    <td>
                                        {{company.title}}
                                    </td>
                                    <td>
                                        {{company.subTitle}}
                                    </td>
                                    <td>
                                        {{company.para}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


